.uploder-image {
    width: 269px;
    height: 276px;
    background-color: #161b1945;
    border-radius: 6px;
    margin-bottom: 18px;
}

.addproduct-img {
    width: 269px;
    height: 276px;
    border-radius: 6px;
}

.image-input {
    padding: 1px 7px;
    border: 1px solid #808080;
    margin-right: 11px;
    border-radius: 5px;
}

.img-upload-button {
    border: none;
    padding: 5px 7px;
    border-radius: 5px;
    background-color: #31c795;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;

}

.img-upload-button:disabled {
    background-color: #7a7e7ef2;

}

.spnir {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
}

/* upliad fild */
.upload-fild {
    background-color: #d3d3d3;
    padding: 19px;
    border-radius: 9px;
}

.producr-info-input-fild {
    width: 46%;
    height: 34px;
    margin-right: 18px;
    border: 1px solid #808080;
    padding-left: 12px;
    border-radius: 3px;
    margin-bottom: 11px;
}

.producr-info-input-fild.Description {
    border: 1px solid #808080;
    padding-left: 12px;
    border-radius: 3px;
    width: 97%;
    height: 138px;
}

.thirdsection {
    width: 30%;
    height: 34px;
    margin-right: 20px;
    border: 1px solid #808080;
    padding-left: 12px;
    border-radius: 3px;
    margin-bottom: 11px;
}

.images {
    margin-bottom: 10px;
}

.addproduct-btn {
    padding: 5px 37px;
    margin-top: 17px;
    margin-bottom: 18px;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 2px;
    background-color: #e35a09c2;
    border: none;
    color: #fff;
}

.addproduct-btn:hover {
    background-color: #4295dd;
    color: #fff9f9;
}

.slider-image {
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-around;

}

.slider-image img {
    width: 144px;
    height: 126px;
    border-radius: 5px;
}

.Size-input-fild {
    width: 70px;
    border: 0.5px solid #808080;
    margin-left: 4px;
    margin-top: 11px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #06b006;
    font-weight: 700;
}