.make-admin-form {
  padding: 25px 50px;
  box-shadow: rgb(0 0 0 / 28%) 0px 7px 24px 6px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 668px;
  margin-top: 15px;
}

.make-admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}