.product-name {}

.checkout-img {
    width: 88px;
}

.final-cart {
    background-color: #cdcbc96b;
    height: 100vh;
    font-family: 'Josefin Slab', serif;
}

/* sub total */

.check-out-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.amount-Text {
    margin-right: 24px;
    letter-spacing: 2px;
    font-size: 16px;
}

.Country {
    width: 90%;
    height: 38px;
    margin-bottom: 18px;
}

.First-Name {
    width: 43%;
    height: 38px;
    margin-bottom: 18px;
}

.First-Name.last {
    margin-left: 24px;
}

.Contact-information {
    margin-bottom: 29px;
}

.check-box {
    font-size: 18px;
}

.check {
    width: 46px;
    height: 18px;
}

.Shipping-address {
    margin-top: 18px;
    margin-bottom: 26px;
}

.submit-btn {
    letter-spacing: 3px;
    border: 1px solid #ed3434;
    padding: 6px 39px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 16px;
    color: #ff3200;
    background-color: #fff;
}

.submit-btn:hover {
    background-color: #e96c17;
    color: #fff;
}

.back-cart {
    margin-left: 18px;
    font-size: 16px;
    font-weight: 600;
}

.contact-ship {
    border: 1px solid #f00;
    padding: 9px;
    width: 86%;
    border-radius: 4px;
    margin-top: 51px;
    color: #474545fc;
}

.Shipping-method {
    margin-top: 36px;
}

.readio-btn-delevery {
    display: flex;
    flex-direction: column;
}

.ToggleButton-delevery {
    width: 85%;
    margin-top: 7px;
}

.delevery-value {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.method {
    margin-bottom: 21px;
    letter-spacing: 1px;
}

.Cash-on-delevery {
    padding: 5px;
    border: 1px solid #dc3545;
    width: 85%;
    height: 38px;
    align-items: center;
    border-radius: 4px;
    font-size: 17px;
}

.payment {
    margin-top: 24px;
}

.SubmitOrder {
    border: none;
    margin-top: 11px;
    margin-bottom: 36px;
    padding: 9px 26px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 4px;
    background-color: #f34e4e;
    color: #fff;
}

.SubmitOrder:disabled {
    background-color: #7a7e7ef2;
}

/* media Quree */

@media screen and (max-width: 844px) {
    .contact-ship {
        padding-left: 11px;
        width: 95%;
        margin-left: 5px;
    }

    .method {
        margin-left: 6px;
        font-size: 23px;
    }

    .ToggleButton-delevery {
        width: 93%;
        margin-left: 5px;
    }

    .delevery-cost {
        font-size: 12px;
    }

    .payment {
        margin-left: 6px;
    }

    .Cash-on-delevery {
        width: 95%;
        font-size: 20px;
        padding: 1px 14px;
    }

    .SubmitOrder {
        margin-left: 22%;
        margin-top: 26px;
    }

    .Country {
        width: 95%;

        height: 38px;
        padding: 2px 14px;
    }

    .information-fild-checkout {
        margin-left: 7px;
    }

    .First-Name {
        width: 95%;
        margin-top: 11px;
        height: 41px;
    }

    .First-Name.last {
        margin-left: 0px;
        margin-top: 8px;
        margin-bottom: 14px;
    }

    .submit-btn {
        margin-right: 52px;
        margin-top: 31px;
        margin-bottom: 45px;
    }

    .Contact-information {
        margin-bottom: 36px;
    }


}