.redio-btn-css {
    padding: 4px 7px;
    margin-right: 9px;
    border-radius: 50% !important;
    font-family: none;
}

.Size {
    font-size: 19px;
    font-family: serif;
    letter-spacing: 3px;
}

.details-add-to {
    border: 1px solid #ef7822;
    padding: 5px 41px;
    border-radius: 3px;
    margin-top: 14px;
    font-size: 17px;
    background-color: #fff;
}

.details-add-to:hover {
    background-color: #ffe4c4;
    color: #a52a2a;
}

.price-details {
    margin-top: 10px;
    font-family: none;
    letter-spacing: 1px;
    font-size: 22px;
}

.image-chaild {
    width: 220px;
    height: 220px;
}

.details-imagess img {
    display: block;
    cursor: pointer;
}

.container-imagess {
    width: 100%;
    max-width: 540px;
}

.slected {
    width: 548px;
    height: 442px;
    margin: 0 auto;
    border: 1px solid #800080;
    border-radius: 4px;

}

.imagecontainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 17px 0 0 0;
}

.imagecontainer img {
    width: 100px;
    height: 100px;
    margin: 5px 0;
    border: 1px solid purple;
    border-radius: 3px;

}

.Description {
    font-family: 'Josefin Slab', serif;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
}

.product-info-details {
    font-family: 'Josefin Slab', serif;
}

.product-info-details p {
    font-size: 29px;
}

@media screen and (max-width: 844px) {
    .details-imagess img {
        width: 100%;
    }

    .imagecontainer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 37px;
    }

    .imagecontainer img {
        width: 23%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 69px;
    }

    .product-info-details p {
        font-size: 29px;
        margin-top: 2px;
    }

    .Size {
        margin-top: 19px;
        font-size: 20px;
    }


}