.home-content-product {
    display: flex;
    flex-wrap: wrap;
}


.image-show {
    width: 100%;
    height: 221px;
    padding: 6px;
}

.product-content-info {
    text-align: center;
    margin-bottom: 29px;
    margin-top: 13px;
}

.product-content-info h4 {
    color: #2f66be;
    font-size: 15px;
    margin-bottom: 8px;
    padding: 0px 3px;
}

.product-content-info p {
    color: #e60b0b;
    font-size: 16px;
    margin-bottom: 11px;
}

/**************************************** new Css  start ********************************* */
.show-product-air {
    width: 16%;
    border-radius: 5px;
    border: 0.5px solid #808080;
    padding: 0;
    margin: 10px 4px;
}

.page-link {
    text-decoration: none;
}






/**************************************** new Css  End ********************************* */
.spnier {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

}

@media screen and (max-width: 844px) {

    .show-product-air {
        width: 45%;
        margin-bottom: 13px;
    }

    .image-show {
        height: 144px;
    }

    .product-content-info {
        margin-bottom: 1px;
    }

    .product-content-info h4 {
        font-size: 15px;
    }

    .product-content-info p {
        font-size: 15px;
    }

    .spnier {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-width: 653px) {

    .show-product-air {
        width: 47%;
        margin-bottom: 13px;
        margin-left: 6px;
    }

    .image-show {
        height: 144px;
    }

    .product-content-info {
        margin-bottom: 1px;
    }

    .product-content-info h4 {
        font-size: 15px;
    }

    .product-content-info p {
        font-size: 15px;
    }

    .spnier {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}