.invoice-header {
    display: flex;
    justify-content: space-between;
}

.pdf-body {
    margin: auto;
    width: 850px;
    background-color: #fff;
    border-radius: 6px;
    padding: 33px;
    size: landscape;
}


.customer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 23px;
    size: landscape;
}

.build-info {
    margin-bottom: 4px;
}

.print-div {
    display: flex;
    justify-content: end;
    padding-top: 24px;
}

.Print-btn {
    border: 1px solid #0f0d0d59;
    padding: 3px 58px;
    border-radius: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #099095;
    cursor: pointer;
    margin-bottom: 16px;
}

.fild-pdf {
    background-color: #b9b3ab;
    padding: 0px 45px;
}

.print-bttom {
    padding-bottom: 110px;
}

.order-fild {
    font-family: 'Josefin Slab', serif;
}

.Grand-total {
    font-size: 15px;
    font-weight: 600;
}

.status {
    border: none;
    width: 100%;
    background-color: #3b8981;
    border-radius: 2px;
}

.statusprossing {
    color: green;

}

.statusDelivery {
    color: rgb(215, 46, 8);

}

.table-fild thead tr th {
    font-size: 18px;
}

.table-fild tbody tr td {
    font-size: 16px;
}

.status:hover {
    color: white;
}

.status-change-btn {
    text-align: end;
}